
* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
    margin: 0 auto;
}
body {
    font-family: 'Raleway', sans-serif;
    max-width: 1510px;
    margin: 0 auto;
}

    /* header*/
a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
}

h1, h4 {
    font-weight: 900;
}

h2, h3, h6 {
    font-weight: 700;
}

h1 {
    font-size: 5.3em;
}

h2 {
    font-size: 3em;;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.1em;
}

[class*="center aligned"] {
    text-align: center;
}

.regular {
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
}

header {
    padding: 0 14.1em;
    background: linear-gradient(rgba(37, 43, 73, .8), rgba(37, 43, 73, .8)), url('images/background.jpg');
    background-size: cover;
    color: #ffffff;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #babbc5;
}

nav > span.title {
    font-weight: 700;
    font-size: 2em;
    opacity: .4;
}

ul.menu {
    display: table;
    padding: 0;
    margin: 0;
    margin-bottom: -1px;
}

ul.menu > li {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 4px solid transparent;
}

ul.menu > li > a {
    display: inline-block;
    min-width: 11.2em;
    padding: 3em 1em;
}

ul.menu > li h6 {
    margin: 0;
}

ul.menu > li:hover {
    border-color: #babbc5;
}

ul.menu > li:active {
    color: #e71414;
    border-color: #e71414;
}

.banner {
    max-width: 1510px;
    margin: 0 auto;
    padding: 10rem 0;
}

.banner > h1 {
    margin: 1rem 0 2.6rem 0;
}

.banner > h4 {
    margin-bottom: 6.6rem;
}

.button {
    background: #ff4343;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    padding: 1em 2em;
}

.button:hover {
    background: #e71441;
    cursor: pointer;
}

.button:active {
    background: #ff4343;
    box-shadow: 4px 4px 30px #ff4343;
}

    /* main */
    
h1, h4 {
        font-weight: 900;
}

 h2, h3 {
        font-weight: 700;
}

h4 {
        font-size: 2em;
}

h5 {
        font-size: 1.5em;
}

p {
        font-size: 1.5em;
}

    
[class*="center aligned"] {
        text-align: center;
        justify-content: center;
}

.uppercase {
        text-transform: uppercase;
}

.red {
        color: #ff4343;
}

section.features {
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-gap: 90px 30px;
        padding: 120px 170px;
}

.feature {
        text-align: center;
}

.feature > h4 {
        text-transform: uppercase;
}

.feature > img {
        width: 100px;
        height: 100px;
}

.designs {
        display: grid;
        grid-gap: 2px;
        grid-template: auto / repeat(4, 1fr);
        padding: 0 2px;
}

.designs > .work {
        display: block;
        position: relative;
}

.designs .work::after {
        content: "";
        display: block;
        padding-bottom: 100%;
}

.designs > .work > .content {
        position: absolute;
        height: 100%;
        width: 100%;
}

.designs > .work img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
}

.designs > .work .hover {
        display: none;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 67, 67, 0.8);
        color: white;
}

.designs > .work .hover > h4 {
        margin-top: 0;
        margin-bottom: 40px;
}

.designs > .work .hover > p {
        margin: 0;
}

.designs > .work:hover .hover {
        display: flex;
}

.designs > .work:active .hover {
        background: rgba(185, 12, 12, 0.8);
}
.topic {
    margin: 41px 0 21px 0;
}
/* our team*/

.cards .link {
        position: relative;
        width: 0;
        height: 0;
        display: inline-block;
        padding: 1.625em;
        border: 1px solid #c6cbcd;
}

.cards .link > img {
        position: absolute;
        height: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}

a.link + a.link {
        margin-left: .4em;
}

section.personal_cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 114px 170px;
}

.personal_cards > .cards {
        width: 270px;
}

.personal_cards > .cards > img {
        width: 270px;
        height: 270px;
        -o-object-fit: cover;
           object-fit: cover;
        margin-bottom: 30px;
}
.representation {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #6C7279;
    margin-top: 18px;
    margin-bottom: 38px;
}

/*slider*/
/*

.carousel {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-bottom: 3em;
}

.carousel > .slide {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    transition: margin-left .4s ease;
}

.carousel > .slide > div {
    width: 50%;
}

.carousel > .slide > .image > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.carousel > .slide > .description {
    display: flex;
    flex-flow: column;
    justify-content:center;
    color: white;
    background:#5C3249;
    padding: 116px 170px 116px 129px;
}
.carousel > .slide > .description > .quote {
    font-size: 2em;
    font-style: italic;
    font-family: 'Cardo', serif;
    font-weight: 400;
    line-height: 49px;
    text-transform: capitalize;
}

.carousel > .slide > .description > .author {
    font-size: 1em;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 15px;
    margin-top: .5em;
}

.carousel > .dots {
    position: absolute;
    display: flex;
    gap: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.carousel > .dots > label {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    border: 1px solid #7E5D6F;
    cursor: pointer;
    transition: all .3s ease;
}

#slide_2:checked ~.slide:nth-of-type(1) {
    margin-left: -100%;
}

#slide_3:checked ~.slide:nth-of-type(1) {
    margin-left: -200%;
}

#slide_4:checked ~.slide:nth-of-type(1) {
    margin-left: -300%;
}

#slide_5:checked ~.slide:nth-of-type(1) {
    margin-left: -400%;
}


#slide_1:checked ~.dots > label:nth-child(1),
#slide_2:checked ~.dots > label:nth-child(2),
#slide_3:checked ~.dots > label:nth-child(3),
#slide_4:checked ~.dots > label:nth-child(4),
#slide_5:checked ~.dots > label:nth-child(5) {
    background: #7E5D6F;
}

*/

.carousel {
    padding-bottom: 60px;
}
.carousel-indicators [data-bs-target] {
    border: 1px solid #7E5D6F !important;
    width: 14px !important;
    height: 14px !important;
    border-radius: 50% !important;
    transition: all .3s ease !important;
    bottom: 50px !important;
    margin-right: 25px;
}
.carousel-indicators .active {
    background: #7E5D6F;
}
.carousel-item {
    background: #5C3249;
    padding: 0;
}
.quote {
    font-size: 3em;
    font-style: italic;
    font-family: 'Cardo', serif;
    font-weight: 400;
    line-height: 49px;
    text-transform: capitalize;
    color: white;
}

 .author {
    font-size: 1.08em;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 15px;
    margin-top: .5em;
    color: white;
}

.d-none {
    padding: 116px 170px 116px 129px;
}

/* download section */

.download {
    max-width: 1510px;
    height: 470px;
    margin-bottom: 10px;
    padding: 10rem 0;
    text-align: center;
}
.capitalize{
    text-transform: capitalize;
}
.download h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 5px;
}
.download h3+h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 50px;
    margin-top: 5px;
}


/* footer */
.footer_link{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    background-color: #353C65;
    padding: 70px 170px;
}
.item {
    width: calc(100% / 3);
}

.social>.link {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 39px;
    margin: 26px;
    border: 1px solid #c6cbcd;
}

.social .link > img {
    position: absolute;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.footer_link h5 {
    color:  #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.footer_link h5+h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #2C3154;
    color: #808080;
    white-space: nowrap;
}
span{
    color:#FFFFFF;
}
 /* media query */
 
 /*tablet*/

  @media screen  and (max-width: 1024px) {
    header {
        padding: 20px;
    }
    section.features {
        padding: 80px 20px;
    } 

    .personal_cards > .card > img {
        width: 227px;
        height: 227px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    section.personal_cards {
        padding: 80px 20px;
    }


    .carousel > .slide > .description {
        padding: 47px 104px 110px 88px;
    }
    .footer_link{
        padding: 50px 20px;
    }
    .social>.link {
        margin: 23px;
    }
    .copyright{
        padding: 15px 355px;
    }
}
 /*mobile*/

 @media screen and (max-width: 320px) {
    .center aligned menu {
        display: none;
        background-image: url(images/icon_menu.png);
    }
    section.features {
        display: grid;
        grid-template: auto / repeat(1, 1fr);
        margin: 0 auto;
        padding: 20px 20px;
    }
    .designs {
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        grid-gap: 1px;
        padding: 0 2px;
    }
    section.personal_cards {
        display: flex;
        flex-direction: column;
    }
    
 }
    
 
